<p>Inventory Details</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Measurement</th>
      <th scope="col">Original Price</th>
      <th scope="col">Profit</th>
      <th scope="col">Selling Price</th>
      <th scope="col">Supplier</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
</table>

<button class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">Add Product</button>

<!-- Modal for adding product-->
<div class="modal" tabindex="-1" role="dialog" id="addProductModal" aria-labelledby="addProductModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)">
        <div class="modal-body container">
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !productName.valid }">
            <label for="productName">Product Name</label>
            <span class="error" *ngIf="f.submitted && productName.errors?.required">&nbsp;&nbsp;&nbsp;&nbsp;Required</span>
            <input type="text" 
                   name="productName" 
                   class="form-control"
                   #productName="ngModel"
                   [(ngModel)]="manageInventory.productName"
                   required
            >
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !quantity.valid }">
            <label for="quantity">Quantity</label>
            <span class="error" *ngIf="f.submitted && quantity.errors?.required">&nbsp;&nbsp;&nbsp;&nbsp;Required</span>
            <input type="text" 
                   name="quantity" 
                   class="form-control"
                   #quantity="ngModel"
                   [(ngModel)]="manageInventory.quantity"
                   required
            >
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !measurement.valid }">
            <label for="measurement">Measurement</label>
            <span class="error" *ngIf="f.submitted && measurement.errors?.required">&nbsp;&nbsp;&nbsp;&nbsp;Required</span>
            <select name="measurement" 
                    class="form-control"
                    #measurement="ngModel"
                    [(ngModel)]="manageInventory.measurement"
                    required
            >
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !originalPrice.valid }">
            <label for="originalPrice">Original Price</label>
            <span class="error" *ngIf="f.submitted && originalPrice.errors?.required">&nbsp;&nbsp;&nbsp;&nbsp;Required</span>
            <input type="text" 
                   name="originalPrice" 
                   class="form-control"
                   #originalPrice="ngModel"
                   [(ngModel)]="manageInventory.originalPrice"
                   required
            >
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !profit.valid }">
            <label for="profit">Profit</label>
            <span class="error" *ngIf="f.submitted && profit.errors?.required">&nbsp;&nbsp;&nbsp;&nbsp;Required</span>
            <input type="text" 
                   name="profit" 
                   class="form-control"
                   #profit="ngModel"
                   [(ngModel)]="manageInventory.profit"
                   required
            >
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !sellingPrice.valid }">
            <label for="sellingPrice">Selling Price</label>
            <span class="error" *ngIf="f.submitted && sellingPrice.errors?.required">&nbsp;&nbsp;&nbsp;&nbsp;Required</span>
            <input type="text" 
                   name="sellingPrice" 
                   class="form-control"
                   #sellingPrice="ngModel"
                   [(ngModel)]="manageInventory.sellingPrice"
                   required
            >
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !supplier.valid }">
            <label for="supplier">Supplier</label>
            <span class="error" *ngIf="f.submitted && supplier.errors?.required">&nbsp;&nbsp;&nbsp;&nbsp;Required</span>
            <select name="supplier" 
                    class="form-control"
                    #supplier="ngModel"
                    [(ngModel)]="manageInventory.supplier"
                    required   
            >
              <option selected>Supplier 1</option>
              <option>Supplier 2</option>
              <option>Supplier 3</option>
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </form>
      </div>
    </div>
  </div>