<div class="container">
  <div class="card card-container">
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin" (ngSubmit)="login(f)" #f="ngForm" >
          <!-- <span id="reauth-email" *ngIf="f.submitted && email.errors?.required " >&nbsp;&nbsp;&nbsp; &nbsp;required</span> -->
         <!-- <div class="alert alert-danger" role="alert" *ngIf="f.submitted && email.!valid">
           <p>Email is required !</p> 
          </div>  -->
          <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" -->
          <input type="email" id="inputEmail"  [ngClass]="{ 'has-error' : f.submitted && !email.valid } " class="form-control" placeholder="Email address"
           name="text" #email="ngModel" [(ngModel)]="model.email" required autofocus
        
           >
          <input type="password" id="inputPassword" [(ngModel)]="model.password" name="password"
           #password="ngModel" class="form-control"  [ngClass]="{ 'has-error' : f.submitted && !password.valid } " placeholder="Password" required>
          <div id="remember" class="checkbox">
              <label>
                  <input type="checkbox" value="remember-me"> Remember me
              </label>
          </div>
          <button  type="submit"  class="btn btn-lg btn-primary btn-block btn-signin">Sign in</button>
      </form><!-- /form -->
      <!-- <a href="#" class="forgot-password">
          Forgot the password?
      </a> -->
      <div class="alert alert-danger" role="alert" *ngIf="errorFlag">
        <p>{{errorMsg}}</p>
      </div>
      
      
  </div><!-- /card-container -->
</div><!-- /container -->