<!-- <button type="button" class="btn btn-primary" (click)="showDashboardItem()">
  Notifications <span class="badge badge-light">{{notification}}</span>
</button> -->


<div class="row">
  <div class="col-sm-4">
    <div class="alert alert-info winterProduct" *ngIf="winterProducts.length>0">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="viewProductsHide()">
        ×</button>
      <span class="glyphicon glyphicon-info-sign"></span> <strong>Recommendationn:</strong><small>Mostly sold winter
        products</small>
      <hr class="message-inner-separator">
      <button type="button" (click)="viewProducts()" class="btn btn-info btn-sm">view details</button>
    </div>
  </div>
  <div class="col-sm-4">
      <div class="alert alert-info winterProduct" *ngIf="winterProducts.length>0">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            ×</button>
          <span class="glyphicon glyphicon-info-sign"></span> <strong>Info Message:</strong>
          <small>The products is going to be out of stock. Check details here.<span class="badge badge-danger">urgent</span></small>
          <hr class="message-inner-separator">
          <button type="button" (click)="showDashboardItem()" class="btn btn-info btn-sm">view details</button>
        </div>
  </div>
</div>

<div class="card" >
    <div class="card-body" *ngIf="productList.length>0">
      <p><b>We in need these products</b></p>
      <small>This Products are out of Stocks.&nbsp;Buy these Products From specific Vendor.</small>
      <ul class="list-group">
        <li class="list-group-item active">Products</li>
        <table>
          <tr *ngFor="let product of productList">
            <td>
              <li class="list-group-item">{{product.productName}}</li>
            </td>
            <td>
              <li class="list-group-item">{{product.quantity}}&nbsp; <span class="badge badge-danger">out of stock</span></li>
            </td>
  
          </tr>
        </table>
  
      </ul>
    </div>
  </div>

<!-- <div class="container" *ngIf="winterProductFlag">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Proudct</th>
        <th scope="col">Quantity</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of winterProducts;let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{product.pid.productName}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.date}}</td>
       
      </tr>

    </tbody>
  </table>
</div> -->
<div class="row" *ngIf="winterProductFlag">
  <div class="col-sm-3">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let product of winterProducts"><i><b>Product &nbsp;</b></i>{{product.pid.productName}} &nbsp;<i><b>Quantity</b></i><span class="badge badge-info">{{product.quantity}}</span></li>
     
    </ul>
  </div>
</div>