<div class="container">
  <button class="btn btn-primary" (click)="toggleSalesReport()">{{ !showSalesReport ? 'View' : 'Hide' }} Sales Report</button>
  <a style="text-decoration: none" [routerLink]="['/dashboard/addSales']"><button class="btn btn-primary" (click)="toggleAddSales()">Add Sales</button></a>
</div>

<br />

<div *ngIf="showSalesReport">
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i> Sales Details</div>
    <div class="card-body">

      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product Name</th>
              <th scope="col">Category</th>
              <th scope="col">Date</th>
              <th scope="col">Rate</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
              <th scope="col">Action</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let p of productList;let i=index">
              <th scope="row">{{i+1}}</th>
              <td>{{p.productName}}</td>
              <td>{{p.cid}}</td>
              <td>{{p.date}}</td>
              <td>{{p.sellingPrice}}</td>
              <td>{{p.quantity}}</td>
              <td>{{p.sellingPrice * p.quantity}}</td>
              <td>
                <button type="button" (click)="updateSupplier(s)">
                  <span><i class="fas fa-edit"></i></span>
                </button>
                <button type="button" (click)="deleteSupplier(s)">
                  <span><i class="fas fa-trash"></i></span>
                </button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
  
<div *ngIf="addSales">
  <app-add-sales></app-add-sales>
</div>

<!-- Chart.js -->
<div>
  <div style="display: block">
    <canvas baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
  </div>
  <button (click)="randomize()">Update</button>
</div>