.manage-supplier{
    margin-top:80px;
}
.heading{
    color:blue;
    font-family: italic;
    font-weight: bold
}

input[type=text]{
    border-top:none;
    border-left:none;
    border-right:none
}
input{
    box-shadow: none;
     border-radius: 0;
}
input:focus{
        border-bottom:2px solid #090372;
        box-shadow: none;
        border-radius: 0;
}

.error{
    color:red;
    font-family: cursive;
    border-bottom:red;
}