<div class="container">>
    <p>{{admingMessage}}></p>
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Register Admin<small>create a super Admin</small></h3>
        </div>
        <div class="panel-body">
          <form #f="ngForm" (ngSubmit)="f.valid && register(f)">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="first_name" id="first_name" [(ngModel)]="admin.fname" class="form-control input-sm"
                    placeholder="First Name" ngModel>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="last_name" [(ngModel)]="admin.lname" id="last_name" class="form-control input-sm"
                    placeholder="Last Name" ngModel>
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="email" name="email" id="email" [(ngModel)]="admin.email" class="form-control input-sm"
                placeholder="Email Address" ngModel>
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" name="password" id="password" [(ngModel)]="password" class="form-control input-sm"
                    placeholder="Password" ngModel>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" name="password_confirmation" [(ngModel)]="cpassword" (ngModelChange)="checkPassword($event)"
                    id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password" ngModel>
                    <p style="color:red;">{{passwordMessage}}</p>
                </div>
              </div>
            </div>
            <input type="submit" value="click to create super admin" class="btn btn-info btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
