* {
    margin:0;
    padding:0;
}

ul li{
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#2952a3
}

#sidebar ul li:hover{
    color:black
}

#sidebar {
    width:250px;
    background:#f5f5f0;
    padding-left:10px;
    position: fixed;
    height: 100%;
    border-top: 2px solid #eaeae1;
}

#sidebar ul li{
    padding:15px 15px;
    border-right: 2px solid #eaeae1;
    border-bottom: 2px solid #eaeae1;
}

.heading{
   font-family: sans-serif;
   color:black;
   margin-left:250px;
}

.toggle-btn span i{
    margin-left:280px;
} 

.right-bar{
    padding-right:250px;
}



