<h1>Add Product Category</h1>
<hr>
<div class="alert alert-success" role="alert" *ngIf="category_success">
  {{category_success}}
</div>

<div class="form-group">
  <label>Category</label>
  <input type="text" class="form-control" #category aria-describedby="emailHelp" placeholder="category">
  <small class="form-text text-muted">
    <Table>Add the category here..</Table>
  </small>
</div>
<button type="button" (click)="addCategory(category.value)" class="btn btn-primary">save</button>
<hr>

<table class="table table-bordered category-table">
  <thead>
    <tr>
      <th scope="col">SN</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of categoryList;let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{c.category}}</td>
    </tr>
  </tbody>
</table>
